.footer {
  text-align: center;
  min-height: 171px;
}

.footer__title {
  margin: 0;
  padding: 40px 0 17px;
  color: #828282;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
}

.footer__link {
  margin: 0 0 80px;
  color: #187cd3;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
